@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins&display=swap');

$poppins: 'Poppins';
$oswald: 'Oswald';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$montserrat: 'Montserrat';